*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin-top: 90px;
  font-size: 40px;
  text-align: center;
  width: 320px;
  color: white;
  text-shadow: 4px 8px #867777;
}

.lucky-main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 40px;
  width: 650px;
  height: 400px;
  font-size: 25px;
  font-style: italic;
  justify-content: center;
  align-items: center;
  background-image: url(/public/Imagen3-transformed.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.lucky-main p {
  width: 400px;
  text-align: center;
}

button {
  padding: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  font-style: italic;
  color: white;
  background-color: rgb(95, 26, 26);
  opacity: 90%;
}